.linker-container{
    padding:5px;
    margin-left: auto;
    font-size:large;
    font-family: Garamond, serif;
}
.container{
    padding:5px;
    margin-left: auto; 
    font-size:large;
    font-family: Garamond, serif;
}
.linker {
    padding:6%;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: auto; 
    padding-bottom: 5%;
    font-size:large;
    font-family: Garamond, serif;
    display: row;

}
h2{
    font-size:large;
    font-family: Garamond, serif;
}
.conversation-card{
    width:25%;
    display:inline-block;
}
