


.Chat-title{
    background-color:hsl(0, 43%, 99%);
    border-radius:  90px 90px;
    margin-top: 30px 30px;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    border-top-right-radius: 0;

    width: 89%;
    max-width: 100%;
    height: auto;
}
.image-icon{
   width: 30px
   
}


.page-container{
background-color:rgb(255, 255, 255);
max-width: 100%;
height: auto;

}

body {
    background-color:rgb(255, 255, 255)
}

form{
    margin:auto;
}
.chat-content-container{
    background-color:rgb(246, 251, 250);
    flex-direction: row-reverse;
    font-weight: small;
    margin: 5px auto;
    padding: 5px auto;
    flex-direction: row-reverse;
    width: 90%;
    min-height: auto;
    align-items: left;
    justify-content:flex-start;
}
#chat-s{
    align-items: left;
    justify-content:flex-start;
}
.chat-route {
    display: flex;
    flex-direction: column;
    border-bottom: 0px solid;
    border-radius: 0px solid;
    border: 0px;
}
.message-container-paper{
    /* background-color:rgb(204, 223, 246); */
    font-style:oblique;
    margin: 3px auto;
    padding: 3px auto;
    flex-direction: row;
    font-size:medium;
    left: 0%;
    align-items: left;
    justify-content:flex-start;
}
.message-time-container{
    font-size:xx-small;
    color:black;
    right: auto;
}
.chat-item-vote{
    padding: 5px;
    margin:5px;
}
.chat-container{
    overflow:scroll;
    height:60%;

}
.page-container, #app-container {
    height:100%;

}
