.nav {
  /* flex box layout */
  display: block;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 10px;
  background-color: #97b9b9;
  overflow: hidden;

} 



.nav-title {
  font-size: 30px;
  font-weight: 700;
  color: #644242;
  padding-left: 1px;
  margin: 12;
  background-color:transparent;

}

.navLink {
  display: block;
  color: #644242;
  background-color:transparent;
  text-align: center;
  padding: auto auto;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 5;
} 

.navLink :hover {
  background-color: transparent;
  border-radius: 80%;
}
